includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
    scanFiles:
        - stubs/laravel-mcp.php
        - stubs/livewire.php
    ignoreErrors: []
